1. npm create vite@latest MissionRDM -- --template vue
    -> cd MissionRDM
2. npm install
3. npm install -D tailwindcss postcss autoprefixer
4. npx tailwindcss init -p (or manually create tailwind.config.js and postcss.config.js)
5. npm install vue-router pinia vue-i18n
